<div class="home-container">
  <h1>Select a Domain</h1>
  <div class="domain-links">
    <a routerLink="/agriculture" class="domain-link">Agriculture</a>
    <a routerLink="/physics" class="domain-link">Physics</a>
    <a routerLink="/chemistry" class="domain-link">Chemistry</a>
    <a routerLink="/math" class="domain-link">Math</a>
  </div>

  <div class="nav-links">
    <a routerLink="/automobiles" class="nav-link">Automobiles</a>
    <a routerLink="/report" class="nav-link">Report</a>
  </div>
</div>
